In [1]:
from azure.ai.ml import MLClient
from azure.identity import DefaultAzureCredential
from azure.ai.ml.entities import Data
from azure.ai.ml.constants import AssetTypes

# authenticate
credential = DefaultAzureCredential()

# Get a handle to the workspace
ml_client = MLClient(
    credential=credential,
    subscription_id="78f4f5a7-9c4c-42c2-961b-875b0266bee5",
    resource_group_name="momenifarahani.farhad-rg",
    workspace_name="farhad-2023",
)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
apple = pd.read_csv('../data/apple_stock_raw.csv')
apple.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,1980-12-12 00:00:00-05:00,0.099584,0.100017,0.099584,0.099584,469033600,0.0,0.0
1,1980-12-15 00:00:00-05:00,0.094821,0.094821,0.094388,0.094388,175884800,0.0,0.0
2,1980-12-16 00:00:00-05:00,0.087893,0.087893,0.087461,0.087461,105728000,0.0,0.0
3,1980-12-17 00:00:00-05:00,0.089625,0.090058,0.089625,0.089625,86441600,0.0,0.0
4,1980-12-18 00:00:00-05:00,0.092224,0.092657,0.092224,0.092224,73449600,0.0,0.0

In [7]:
apple['Date'] = apple['Date'].str.split(' ').str[0]

apple['Date'] = pd.to_datetime(apple['Date'])

apple.set_index('Date', inplace=True)

apple.index = apple.index.date

apple.sort_index(inplace=True)

apple.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
2023-07-11,189.160004,189.300003,186.600006,188.080002,46638100,0.0,0.0
2023-07-12,189.679993,191.699997,188.470001,189.770004,60750200,0.0,0.0
2023-07-13,190.500000,191.190002,189.779999,190.539993,41342300,0.0,0.0
2023-07-14,190.229996,191.179993,189.630005,190.690002,41573900,0.0,0.0
2023-07-17,191.899994,193.440002,191.809998,192.931000,24965139,0.0,0.0

### Explore the data

- Close: The price of AAPL when the stock market closes
- High: The highest price of AAPL during that trading day
- Low: The lowest price of AAPL during that trading day
- Open: The price of AAPL when the stock market opens
- Volume: How many shares of AAPL were traded that day